@using Vault.Web.Components.Layout
@layout FragmentLayout

<div id="console-input" stack-="row">
    <form method="post" action="/" @formname="consoleInput" data-on-submit__prevent="@("@post('/sse/console', {contentType: 'form'})")">
        <input name="command" placeholder="xv {command} {options}" value=""/>
        <XButton Type="submit" Size="XSize.Small" Text="[Submit]"/>
    </form>
</div>

@code {


}