@using Vault.Web.Components.Layout
@using Vault.Web.Models
@layout FragmentLayout

@if (IndexSignals == null)
{
    <div id="console-input"></div>
}
else
{
    <div id="console-input">
        <form method="post" action="/" @formname="consoleInput"
              data-on-submit__prevent="@("@post('/sse/console', {contentType: 'form'})")">
            <div id="console-input" stack-="column">
                <input name="command" placeholder="xv {command} {options}" value="@Command"/>
                <XButton Type="submit" Size="XSize.Small" Text="[Submit]"/>
            </div>
        </form>
    </div>
}

@code {

    [Parameter]
    public IndexSignals? IndexSignals { get; set; }

    [Parameter]
    public string Command { get; set; } = "";

}