@using Vault.Web.Models
<XBox Id="console" TopLeft="Console">
    <ConsoleInput IndexSignals="IndexSignals" />
    <div id="console-response"></div>
</XBox>

@code {

    [Parameter]
    public IndexSignals? IndexSignals { get; set; }
}