@using Vault.Web.Models
<main>
    <Console IndexSignals="IndexSignals" />

    <VaultScreen VaultId="@IndexSignals?.DefaultVault" />
</main>


@code {
    
    [Parameter]
    public IndexSignals? IndexSignals { get; set; }
}