@using Vault.Web.Models
<main>
    <Console UserInfo="UserInfo" />

    <VaultScreen VaultId="@UserInfo?.DefaultVault" />
</main>


@code {
    
    [Parameter]
    public UserInfo? UserInfo { get; set; }
}