<main>
    <XBox Id="console" TopLeft="Console">
        <div id="console-input"><p>Nothing to display</p></div>
        <div id="console-response"></div>
    </XBox>

    <VaultScreen VaultId="test" />
   
</main>


@code {


}