@page "/fragments/login/{loginType}"
@using Vault.Web.Components.Layout
@layout FragmentLayout


<div id="console-input" stack-="row">
    <span is-="badge" cap-="square" variant-="background0">> xv login --@LoginType</span>
    <form method="post" action="/" @formname="loginForm" data-on-submit__prevent="@("@post('/sse/login', {contentType: 'form'})")">
        
        @if (IsGenerated)
        {
            <input name="generate" type="hidden" value="true" />
        }
        else
        {
            <input name="@LoginType" type="password" />
        }
        <XButton Type="submit" Size="XSize.Small" Text="[Submit]" />
    </form>
</div>

@code {

    [Parameter]
    public string LoginType { get; set; } = string.Empty;

    private bool IsGenerated => LoginType.Equals("generate", StringComparison.OrdinalIgnoreCase);

    protected override void OnInitialized()
    {
        // if generated, create a seed and output the public key and seed
        // if seed, create a token and output the token as the token login command
        // if token, and after token is created by other two methods
        //   - use token to sign user in and issue a cookie
        
        // when creating the token, we'll issue a standard
        // admin token for their default vault
        // when generating a seed, we'll also generate a vault name
        //  we'll set their default vault name in the token
        // when creating from seed, we'll lookup their default vault
        //   from their public key
    }

}