@layer base, utils, components;

@import 'https://cdn.jsdelivr.net/npm/@webtui/css@0.0.5/dist/full.css';

@layer utils {
    [stack-="column"] {
        display: flex;
        flex-direction: column;
        gap: 0.5lh;
        align-items: flex-start;
    }

    [stack-="row"] {
        display: flex;
        flex-direction: row;
        gap: 1ch;
        align-items: center;
    }
}


.flex-between {
    display: flex;
    justify-content: space-between;
}

.content {
    padding: 0lh 1ch;
    padding-top: 1lh;
}