@import 'https://cdn.jsdelivr.net/npm/@webtui/css@0.1.5/dist/full.css';

@layer utils {
    [stack-="column"] {
        display: flex;
        flex-direction: column;
        gap: 0.5lh;
        align-items: flex-start;
    }

    [stack-="row"] {
        display: flex;
        flex-direction: row;
        gap: 1ch;
        align-items: center;
    }
}

tr, td, th {
    padding-left: 2ch;
    padding-right: 2ch;
}

#console-response {
    padding-top: 1lh;
}


.flex-between {
    display: flex;
    justify-content: space-between;
}

.content {
    padding: 1lh 1ch;
}