<div class="terminal-form-group" style="@(InlineBlock ? "display: inline-block; margin-bottom:0" : "")" >
    <a class="terminal-button@(Selected ? " selected" : "")" href="@Href">@Text</a>
</div>


@code {

    [Parameter]
    public string Text { get; set; } = string.Empty;
    
    [Parameter]
    public string Href { get; set; } = string.Empty;
    
    [Parameter]
    public bool Selected { get; set; } = false;
    
    [Parameter]
    public bool InlineBlock { get; set; } = false;

}