<span id="loading" class="loading-indicator" style="margin-left: 1rem; color: var(--terminal-yellow);">processing...</span>

@code {

    [Parameter]
    public string Id { get; set; } = string.Empty;

    [Parameter]
    public string Text { get; set; } = string.Empty;

}