<Section
    Id="header-section"
    Header="Welcome!"
>
    <blockquote data-show="$PublicKey != ''">
        <p>Public Key: <span data-text="$PublicKey"></span></p>
        <p>Default Vault: <span data-text="$DefaultVault"></span></p>
    </blockquote>
    
    <div id="commands"></div>
</Section>

@code {

}